<h1> Votre nouveau programme {{ program.title }} vous attend sur Wild Series !</h1>
<p> {{ program.summary }} </p>
<img src=" {{ program.poster }} ">

<a href="http://localhost:8000/program/{{ program.slug }}">Allez vers la série</a>